.webviewer {
    height: calc(75vh - 50px);
    width: 90%;
    margin-left: 5vmax;
}

.btn{
  margin-left: 10vmin;
  margin: 1vmin;
}

.box{
  border: 1px solid #000;
}

.dropzone {
  padding: 10px;
  border: 1px dashed black;
  width: 50vmin;
  margin-left: 53vmin;
}
.dropzone.dragover {
  background-color: rgba(0, 0, 0, .3);
}